.wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid grey;
    width: 89%;
    position: relative; 
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-bottom: 4px;
}

.left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    display: inline-block;
    flex-shrink: 0;
}

.dropdown {
    position: absolute; 
    top: 100%; 
    left: 0;
    margin-top: 4px;
    background-color: white;
    border: 1px solid #DEE0E5;
    border-radius: 8px;
    z-index: 100;
    width: 100%; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}
.option {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 37px;
    padding: 0 10px;
}

.option:hover {
    background-color: #F6F6F6;
}