.palette {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    gap: 20px;
    border: 1px solid rgba(222, 223, 229, 1);
    padding: 10px 10px;
    border-radius: 8px;
    height: 80px;
    width: 235px;
}

.swatch {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.swatch.active {
    border-color: #000;
}