.item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 32px;
    padding: 4px 8px;
    border-radius: 8px;
}

.item:hover{
    background-color: #F5F5F5;
    cursor: pointer;
    
}

.name{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-left: 5px;
}